# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
/build
next-env.d.ts

# misc
.DS_Store
*.pem
*.tsbuildinfo

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local

# lockfiles (Hostinger installs fresh via npm)
package-lock.json

# editor / os
.vscode/
.idea/
Thumbs.db
